@use "./mixin/colors" as colors;
//ああああああああ
#main {
    width: 600px;
    p {
        margin-bottom: 20px;
        padding-top: 10px;
        @media screen and (min-width:780px){
            font-size: 10px;
        }
        @media screen and (min-width:480px){
            font-size: 10px;
        }
    }
    //ここ
    span {
        font-size: 16px;
        color: #232323;
        background-color: colors.$primary-color;
        @media screen and (min-width:780px){
            font-size: 5px;
        }
        @media screen and (min-width:480px){
            font-size: 5px;
        }
    }
}